html
  head
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css")
  body
    .container.mt-4
        h1 Ingrese producto
        form(method="post" action="/api/productos")
            .mb-3
                label.form-label(for='title') Nombre del producto
                input#title.form-control(type='text',name="title")
            .mb-3
                label.form-label(for='price') Precio del producto
                input#price.form-control(type='text',name="price")
            .mb-3
                label.form-label(for='photo') Foto del producto
                input#photo.form-control(type='text',name="thumbnail")
            input.btn.btn-primary(type='submit', value="Enviar")
        a.btn.btn-link(href="/api/productos") Ir a productos